<div id="ticket-content" class="card" *ngIf="ticketService.ticketData() as ticketData">
    <div class="table-responsive">
        <table cellpadding="0" cellspacing="0" style="margin-bottom: 30px;" width="100%">
            <tbody>
                <tr>
                    <td width="80%">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td><img alt="" width="200px" height="50px"
                                            src="{{ticketData?.AgencyDetails?.CompanyLogoPath}}">
                                    </td>
                                </tr>
                                <tr>
                                    <td
                                        style="font-family: Times New Roman, Times, serif; font-size: 20px;font-weight: 700; color: #000;padding-top: 10px;">
                                        {{ticketData?.AgencyDetails?.AgencyName}}</td>
                                </tr>
                                <tr>
                                    <td
                                        style="font-family: Times New Roman, Times, serif; font-size: 18px; font-weight: 500; color: #000;">
                                        {{ticketData?.AgencyDetails?.CompanyAddress}}
                                    </td>
                                </tr>
                                <tr>
                                    <td
                                        style="font-family: Times New Roman, Times, serif; font-size: 18px; font-weight: 500; color: #000;">
                                        Mobile : {{ticketData?.AgencyDetails?.ContactNo}}</td>
                                </tr>
                                <tr>
                                    <td
                                        style="font-family: Times New Roman, Times, serif; font-size: 18px; font-weight: 500; color: #000;">
                                        E-Mail : {{ticketData?.AgencyDetails?.CompanyEmail}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="vertical-align: middle;" width="20%"><img alt="" width="200px" height="50px"
                            src="http://103.95.97.155/sabre/assets/img/Sabre-logo_RGB-RED.png">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div
        style="font-family: Times New Roman, Times, serif; font-size: 16px; font-weight: 700; color: #000;margin-bottom: 30px;">
        Itinerary</div> -->
    <div style="font-family: Times New Roman, Times, serif; font-size: 20px; font-weight: 700; color: #000;"> Passenger
        Information</div>
    <div class="table-responsive">
        <table cellpadding="0" cellspacing="0" class="table-bordered" style="margin-bottom: 15px;" width="100%">
            <thead>
                <tr>
                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif;font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;font-weight: 700;">
                        Passenger Name </th>

                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;font-weight: 700;">
                        Passenger Type </th>

                    <th *ngIf="!ticketData.isDomestic"
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif;font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;font-weight: 700;">
                        Passport Number </th>

                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;font-weight: 700;">
                        Ticket Number </th>


                    <th *ngIf="ticketData.IsWheelchairIncluded"
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;font-weight: 700;">
                        Wheelchair </th>

                    <th *ngIf="ticketData.IsBaggageIncluded"
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;font-weight: 700;">
                        Extra Baggage </th>

                    <th *ngIf="ticketData.IsMealIncluded"
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;font-weight: 700;">
                        Meal </th>

                    <th *ngIf="ticketData.IsSeatIncluded"
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;font-weight: 700;">
                        Seat </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of ticketData?.Paxlist">
                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; text-align: left;
                            border-color: #000 !important; color: #000 !important; border-width: 1px !important; padding: 5px;border-style: solid;font-weight: 700;">
                        {{ item.PassengerName }}</td>

                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; text-align: left;
                            border-color: #000 !important; color: #000 !important; border-width: 1px !important; padding: 5px;border-style: solid;font-weight: 700;">
                        {{ item.PaxType === 'ADT' ? 'Adult' : item.PaxType === 'INF' ? 'Infant' : 'Children' }}</td>

                    <td *ngIf="!ticketData.isDomestic"
                        style="font-family: Times New Roman, Times, serif; font-size: 14px;text-align: left;
                            border-color: #000 !important; color: #000 !important; border-width: 1px !important; padding: 5px;border-style: solid;font-weight: 700;">
                        {{item?.PassportNo}}</td>
                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; text-align: left;
                            border-color: #000 !important; color: #000 !important; border-width: 1px !important; padding: 5px;border-style: solid;font-weight: 700;">
                        {{item?.TicketNo}}</td>

                    <td *ngIf="ticketData.IsWheelchairIncluded"
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; text-align: left;
                            border-color: #000 !important; color: #000 !important; border-width: 1px !important; padding: 5px;border-style: solid;font-weight: 700;">
                        {{ item.IsWheelchairIncluded? 'Included' : 'N/A' }}</td>

                    <td *ngIf="ticketData.IsBaggageIncluded" style="font-family: Times New Roman, Times, serif; font-size: 14px; text-align: left;
       border-color: #000 !important; color: #000 !important; border-width: 1px !important;
       padding: 5px; border-style: solid; font-weight: 700;">
                        <ng-container *ngIf="item?.IsBaggageIncluded; else noBaggage">
                            <ng-container *ngFor="let bag of item?.ExtraBaggages; let i = index; let last = last">
                                {{ bag?.BaggageAllowance }}<span *ngIf="!last">, </span>
                            </ng-container>
                        </ng-container>
                        <ng-template #noBaggage>N/A</ng-template>
                    </td>


                    <!-- <td *ngIf="ticketData.IsMealIncluded" style="font-family: Times New Roman, Times, serif; font-size: 14px; text-align: left;
           border-color: #000 !important; color: #000 !important; border-width: 1px !important;
           padding: 5px; border-style: solid; font-weight: 700;">
                        <ng-container *ngIf="item?.IsMealIncluded; else noMeal">
                            <ng-container *ngFor="let meal of item?.ExtraMeal; let last = last">
                                {{ meal.MealType }}<span *ngIf="!last">, </span>
                            </ng-container>
                        </ng-container>
                        <ng-template #noMeal>N/A</ng-template>
                    </td> -->


                    <td *ngIf="ticketData.IsMealIncluded"
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; text-align: left;
                            border-color: #000 !important; color: #000 !important; border-width: 1px !important; padding: 5px;border-style: solid;font-weight: 700;">
                        {{ item.IsMealIncluded? 'Included' : 'N/A' }}</td>

                    <td *ngIf="ticketData.IsSeatIncluded" style="font-family: Times New Roman, Times, serif; font-size: 14px; text-align: left;
           border-color: #000 !important; color: #000 !important; border-width: 1px !important;
           padding: 5px; border-style: solid; font-weight: 700;">
                        <ng-container *ngIf="item?.IsSeatIncluded; else noSeat">
                            <ng-container *ngFor="let seat of item?.ExtraSeat; let last = last">
                                {{ seat?.SeatNo }}<span *ngIf="!last">, </span>
                            </ng-container>
                        </ng-container>
                        <ng-template #noSeat>N/A</ng-template>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table cellpadding="0" cellspacing="0" class="table-bordered" style="margin-bottom: 15px;" width="100%">
            <thead>
                <tr>
                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;font-weight: 700;">
                        Airline PNR </th>
                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;font-weight: 700;">
                        Sabre PNR </th>
                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;font-weight: 700;">
                        Date of Issue </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; text-align: left; border-color: #000 !important;
                            text-transform: uppercase; color: #000 !important; border-width: 1px !important; padding: 5px;border-style: solid;font-weight: 700;">
                        {{ ticketData?.TicketingDetails?.ConfirmationNo }}
                        <ng-container *ngIf="ticketData?.TravelDetials?.JournyType == 'ONE WAY'">
                            ({{ticketData?.TravelDetials?.OnwardSegmentList[0]?.CarrierCode}} -
                            {{ticketData?.TravelDetials?.OnwardSegmentList[ticketData?.TravelDetials?.OnwardSegmentList.length
                            - 1]?.CarrierCode}})
                        </ng-container>

                        <ng-container *ngIf="ticketData?.TravelDetials?.JournyType == 'ROUND TRIP'">
                            ({{ticketData?.TravelDetials?.OnwardSegmentList[0]?.CarrierCode}} -
                            {{ticketData?.TravelDetials?.ReturnSegmentList[ticketData?.TravelDetials?.ReturnSegmentList?.length
                            - 1]?.CarrierCode}})
                        </ng-container>

                    </td>

                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; text-align: left;
                            border-color: #000 !important; color: #000 !important; border-width: 1px !important; padding: 5px;border-style: solid;font-weight: 700;">
                        {{ ticketData?.TicketingDetails?.ReservationNo }} </td>

                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; text-align: left;
                            border-color: #000 !important; color: #000 !important; border-width: 1px !important; padding: 5px;border-style: solid;font-weight: 700;">
                        {{ ticketData?.TicketingDetails?.TicketingDate | date: 'EEE, dd MMM yy' }} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="font-family: Times New Roman, Times, serif; font-size: 20px; font-weight: 700; color: #000;"> Itinerary
        Information</div>
    <div class="table-responsive" *ngFor="let item of ticketData?.TravelDetials?.OnwardSegmentList">
        <table cellpadding="0" cellspacing="0" class="table-bordered" style="margin-bottom: 30px;" width="100%">
            <thead>
                <tr>
                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;width: 8%;font-weight: 700;">
                        Flight # </th>
                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;width: 15%;font-weight: 700;">
                        From </th>
                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important;padding: 5px;border-style: solid;width: 15%;font-weight: 700;">
                        To </th>
                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;width: 15%;font-weight: 700;">
                        Depart </th>
                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;width: 15%;font-weight: 700;">
                        Arrive </th>
                    <!-- <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 14px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;width: 10%;font-weight: 700;">
                        Seat </th> -->
                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;width: 22%;font-weight: 700;">
                        Info </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; border-color: #000 !important;
                            text-transform: uppercase; color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                        <img alt="" style="width: 70px;" src="{{ticketData?.imageUrl}}{{item.CarrierCode}}.png">
                        <div style="margin-bottom: 5px; font-weight: 700; font-size: 14px; margin-top: 10px;"> {{
                            item.CarrierName }} </div>
                        <div style="font-weight: 700; font-size: 14px;">{{ item.CarrierCode }} {{ item.FlightNumber }}
                        </div>
                    </td>
                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                        <strong>{{ item.OriginAirPortName | airportNameToCountry: '2' }} - {{ item.OriginAirPortName |
                            airportNameToCountry: '1'}} {{ item.OriginTerminal }}</strong>
                    </td>
                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                        <strong>{{ item.ArrivalAirPortName | airportNameToCountry: '2' }} - {{ item.ArrivalAirPortName |
                            airportNameToCountry: '1'}} {{ item.ArrivalTerminal }} </strong>
                    </td>
                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                        <div style="font-weight: 700; font-size: 14px;">{{ item.DepartureDate | date: 'EEE, dd MMM yy'
                            }}</div>
                        <div style="font-weight: 700; font-size: 14px; margin-top: 10px;">{{ item.DepartureDate | date:
                            'HH:mm' }} </div>
                    </td>
                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 16px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                        <div style="font-weight: 700; font-size: 14px;">{{ item.ArrivalDate |
                            date: 'EEE, dd MMM yy' }}</div>
                        <div style="font-weight: 700; font-size: 14px; margin-top: 10px;">{{ item.ArrivalDate |
                            date:'HH:mm' }}</div>
                    </td>
                    <!-- <td
                        style="font-family: Times New Roman, Times, serif; font-size: 16px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;font-weight: 700;">
                        1000
                    </td> -->
                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">

                        <div
                            style="font-weight: 500; font-size: 14px; color: #000 !important; margin-bottom: 5px;font-weight: 700;">
                            Baggage : <span *ngFor="let baggage of getUniqueBaggageInfos(item?.BaggageInfos)">
                                {{baggage?.Baggage}}</span> </div>
                        <div
                            style="font-weight: 500; font-size: 14px; color: #000 !important; margin-bottom: 5px;font-weight: 700;">
                            Class : {{ item.CabinClassType
                            }} ({{item?.BookingCode}}) </div>
                        <div
                            style="font-weight: 500; font-size: 14px; color: #000 !important; margin-bottom: 5px;font-weight: 700;">
                            Duration : {{item?.TravelTime}} </div>
                        <!-- <div *ngIf="item?.LayoverTime !== null"
                            style="font-weight: 500; font-size: 14px; color: #000 !important; margin-bottom: 5px;font-weight: 700;">
                            Layover Time : {{item?.LayoverTime}} </div> -->

                        <div
                            style="font-weight: 500; font-size: 14px; color: #000 !important; margin-bottom: 5px;font-weight: 700;">
                            Status : Confirmed </div>
                        <div
                            style="font-weight: 500; font-size: 14px; color: #000 !important; margin-bottom: 5px;font-weight: 700;">
                            Aircraft : {{item?.AirCraft}} </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>


    <div class="table-responsive" *ngFor="let item of ticketData?.TravelDetials?.ReturnSegmentList">
        <table cellpadding="0" cellspacing="0" class="table-bordered" style="margin-bottom: 30px;" width="100%">
            <thead>
                <tr>
                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;width: 8%;">
                        Flight # </th>
                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;width: 15%;">
                        From </th>
                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important;padding: 5px;border-style: solid;width: 15%;">
                        To </th>
                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;width: 15%;">
                        Depart </th>
                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;width: 15%;">
                        Arrive </th>
                    <!-- <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 14px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;width: 10%;">
                        Seat </th> -->
                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;width: 22%;">
                        Info </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; border-color: #000 !important;
                            text-transform: uppercase; color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                        <img alt="" style="width: 70px;" src="{{ticketData?.imageUrl}}{{item.CarrierCode}}.png">
                        <div style="margin-bottom: 5px; font-weight: 700; font-size: 14px; margin-top: 10px;"> {{
                            item.CarrierName }} </div>
                        <div style="font-weight: 700; font-size: 14px;">{{ item.CarrierCode }} {{ item.FlightNumber }}
                        </div>
                    </td>
                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                        <strong>{{ item.OriginAirPortName | airportNameToCountry: '2' }} - {{ item.OriginAirPortName |
                            airportNameToCountry: '1'}} {{ item.OriginTerminal }}</strong>
                    </td>
                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                        <strong>{{ item.ArrivalAirPortName | airportNameToCountry: '2' }} - {{ item.ArrivalAirPortName |
                            airportNameToCountry: '1'}} {{ item.ArrivalTerminal }} </strong>
                    </td>
                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                        <div style="font-weight: 700; font-size: 14px;">{{ item.DepartureDate | date: 'EEE, dd MMM yy'
                            }}</div>
                        <div style="font-weight: 700; font-size: 14px; margin-top: 10px;">{{ item.DepartureDate | date:
                            'HH:mm' }} </div>
                    </td>
                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 16px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                        <div style="font-weight: 700; font-size: 14px;">{{ item.ArrivalDate |
                            date: 'EEE, dd MMM yy' }}</div>
                        <div style="font-weight: 700; font-size: 14px; margin-top: 10px;">{{ item.ArrivalDate |
                            date:'HH:mm' }}</div>
                    </td>
                    <!-- <td
                        style="font-family: Times New Roman, Times, serif; font-size: 16px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;font-weight: 700;">
                        1000
                    </td> -->
                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                        <div
                            style="font-weight: 500; font-size: 14px; color: #000 !important; margin-bottom: 5px;font-weight: 700;">
                            Baggage : <span *ngFor="let baggage of item?.BaggageInfos">
                                {{baggage?.Baggage}}</span> </div>
                        <div
                            style="font-weight: 500; font-size: 14px; color: #000 !important; margin-bottom: 5px;font-weight: 700;">
                            Class : {{ item.CabinClassType
                            }} ({{item?.BookingCode}}) </div>
                        <div
                            style="font-weight: 500; font-size: 14px; color: #000 !important; margin-bottom: 5px; font-weight: 700;">
                            Duration : {{item?.TravelTime}} </div>
                        <!-- <div *ngIf="item?.LayoverTime !== null"
                            style="font-weight: 500; font-size: 14px; color: #000 !important; margin-bottom: 5px;font-weight: 700;">
                            Layover Time : {{item?.LayoverTime}} </div> -->
                        <div
                            style="font-weight: 500; font-size: 14px; color: #000 !important; margin-bottom: 5px;font-weight: 700;">
                            Status : Confirmed </div>
                        <div
                            style="font-weight: 500; font-size: 14px; color: #000 !important; margin-bottom: 5px;font-weight: 700;">
                            Aircraft : {{item?.AirCraft}} </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div *ngIf="isShowFare"
        style="font-family: Times New Roman, Times, serif; font-size: 20px; font-weight: 700; color: #000;"> Fare
        Information</div>

    <div class="table-responsive" *ngIf="isShowFare">
        <table cellpadding="0" cellspacing="0" class="table-bordered" style="margin-bottom: 30px;" width="100%">
            <thead>
                <tr>
                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;width: 14%;">
                        Passenger Type </th>
                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;width: 10%;">
                        Base Fare </th>
                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important;padding: 5px;border-style: solid;width: 13%;">
                        Taxes & Fees </th>
                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;width: 13%;">
                        Discount </th>
                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;width: 18.5%;">
                        Service Charge </th>
                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;width: 13%;">
                        Total Pax </th>

                    <th
                        style="background-color: #E50000 !important; font-family: Times New Roman, Times, serif; font-size: 16px;
                            text-align: left; border-color: #ddd !important; border-width: 1px !important; color: #fff !important; padding: 5px;border-style: solid;width: 18.5%;">
                        Total Fare </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of ticketData?.FareBrakeDown?.PaxFareBreakdown">
                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                        <strong>{{ item.PaxType === 'ADT' ? 'Adult' : item.PaxType === 'INF' ? 'Infant' : 'Children'
                            }}</strong>
                    </td>

                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                        <strong>{{ item.BaseFare | number: '1.0-0' }}</strong>
                    </td>


                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                        <strong>{{ item.Tax | number: '1.0-0' }}</strong>
                    </td>


                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                        <strong> {{ item.Discount | number: '1.0-0' }}</strong>
                    </td>


                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                        <strong>{{ item.ServiceCharge | number: '1.0-0' }}</strong>
                    </td>


                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                        <strong>{{ item.NoOfPax }}</strong>
                    </td>


                    <td
                        style="font-family: Times New Roman, Times, serif; font-size: 14px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                        <strong>{{ item?.TotalFare * item.NoOfPax | number: '1.0-0' }}</strong>
                    </td>

                </tr>

                <tr>
                    <td colspan="5" style="font-family: Times New Roman, Times, serif; font-size: 14px;
                            color: #000 !important; padding: 5px; vertical-align: middle;">
                    </td>

                    <td style="font-family: Times New Roman, Times, serif; font-size: 14px;
                            color: #000 !important; padding: 5px; vertical-align: middle;">
                        <strong>AIT & VAT</strong>
                    </td>

                    <td style="font-family: Times New Roman, Times, serif; font-size: 14px;
                            color: #000 !important; padding: 5px; vertical-align: middle;">
                        <strong>{{ ticketData?.FareBrakeDown?.AIT | number: '1.0-0' }}</strong>
                    </td>
                </tr>

                <tr *ngIf="ticketData?.FareBrakeDown?.ExtraService > 0">
                    <td colspan="5" style="font-family: Times New Roman, Times, serif; font-size: 14px;
                            color: #000 !important; padding: 5px; vertical-align: middle;">
                    </td>

                    <td style="font-family: Times New Roman, Times, serif; font-size: 14px;
                            color: #000 !important; padding: 5px; vertical-align: middle;">
                        <strong>Extra Service</strong>
                    </td>

                    <td style="font-family: Times New Roman, Times, serif; font-size: 14px;
                            color: #000 !important; padding: 5px; vertical-align: middle;">
                        <strong>{{ ticketData?.FareBrakeDown?.ExtraService | number: '1.0-0' }}</strong>
                    </td>
                </tr>

                <tr>
                    <td colspan="5" style="font-family: Times New Roman, Times, serif; font-size: 14px;
                            color: #000 !important; padding: 5px; vertical-align: middle;">
                    </td>

                    <td style="font-family: Times New Roman, Times, serif; font-size: 14px;
                             padding: 5px; vertical-align: middle;   background-color: #E50000; color: #fff;">
                        <strong> Grand Total</strong>
                    </td>

                    <td style="font-family: Times New Roman, Times, serif; font-size: 14px;
                            padding: 5px; vertical-align: middle;  background-color: #E50000; color: #fff;">
                        <strong> {{ ((ticketData?.FareBrakeDown?.BaseFare + ticketData?.FareBrakeDown?.Tax +
                            ticketData?.FareBrakeDown?.AIT) - ticketData?.FareBrakeDown?.Discount) +
                            ticketData?.FareBrakeDown?.ServiceCharge + ticketData?.FareBrakeDown?.ExtraService | number:
                            '1.0-0' }}</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
