<div>
    <p-toast />

    <p-card class="mt-6">
        <div class="flex flex-wrap gap-4 justify-between border-b-2">
            <h2 class="text-xl font-semibold">API Configuration</h2>
            <p-button icon="pi pi-pen-to-square" label="Create Configuration" *ngIf="isShowCreate"
                (click)="openCreateDialog()" severity="primary" />
            <p-button icon="pi pi-pen-to-square" label="Edit Configuration" *ngIf="!isShowCreate"
                (click)="openEditDialog()" severity="primary" />
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
            <div class="p-4 bg-white rounded-xl shadow border">
                <p class="text-sm text-gray-500 mb-1">Login ID</p>
                <p class="text-base font-semibold text-gray-800">{{ configurationData?.LoginID || '-' }}</p>
            </div>

            <div class="p-4 bg-white rounded-xl shadow border">
                <p class="text-sm text-gray-500 mb-1">Password</p>
                <p class="text-base font-semibold text-gray-800">{{ '★'.repeat(configurationData?.LoginPassword?.length
                    || 0) }}</p>
            </div>

            <div class="p-4 bg-white rounded-xl shadow border">
                <p class="text-sm text-gray-500 mb-1">URL</p>
                <a [href]="configurationData?.URL" target="_blank" rel="noopener noreferrer"
                    class="text-base font-semibold text-blue-600 break-words">
                    {{ configurationData?.URL || '-' }}
                </a>
            </div>

            <div class="p-4 bg-white rounded-xl shadow border">
                <p class="text-sm text-gray-500 mb-1">PCC</p>
                <p class="text-base font-semibold text-gray-800">{{ configurationData?.TraceID || '-' }}</p>
            </div>

            <div class="p-4 bg-white rounded-xl shadow border">
                <p class="text-sm text-gray-500 mb-1">Client ID</p>
                <p class="text-base font-semibold text-gray-800">{{ configurationData?.ClientId || '-' }}</p>
            </div>
        </div>
    </p-card>

    <p-dialog [(visible)]="apiDialogVisible" [modal]="true" [style]="{ width: '50vw' }">
        <ng-template #header>
            <div class="inline-flex items-center justify-center gap-2">
                <span class="font-bold whitespace-nowrap">
                    {{
                    isEditMode
                    ? 'Update API Configuration'
                    : 'Create API
                    Configuration'
                    }}</span>
            </div>
        </ng-template>

        <form [formGroup]="apiConfigForm" (ngSubmit)="onSubmit()" class="grid grid-cols-1 md:grid-cols-2 gap-6 p-6">
            <div>
                <p-floatlabel variant="on">
                    <input pInputText id="LoginID" formControlName="LoginID" class="w-full"
                        autocomplete="new-password" />
                    <label for="LoginID">Login ID</label>
                </p-floatlabel>

                <div class="text-danger"
                    *ngIf="apiConfigForm.get('LoginID')?.invalid && (apiConfigForm.get('LoginID')?.touched || apiConfigForm.get('LoginID')?.dirty)">
                    Login ID is required!</div>
            </div>

            <div>
                <p-floatlabel variant="on">
                    <p-password id="LoginPassword" formControlName="LoginPassword" class="w-full" type="password"
                        autocomplete="new-password" />
                    <label for="LoginID">Password</label>
                </p-floatlabel>

                <div class="text-danger"
                    *ngIf="apiConfigForm.get('LoginPassword')?.invalid && (apiConfigForm.get('LoginPassword')?.touched || apiConfigForm.get('LoginPassword')?.dirty)">
                    Password is required!</div>
            </div>

            <!-- <div class="md:col-span-2">
                <p-floatlabel variant="on">
                    <input pInputText [readOnly]="true" id="URL" formControlName="URL" class="w-full" autocomplete="new-password" />
                    <label for="URL">URL</label>
                </p-floatlabel>
            </div> -->

            <div>
                <p-floatlabel variant="on">
                    <input pInputText id="TraceID" maxlength="4" formControlName="TraceID" class="w-full"
                        autocomplete="new-password" />
                    <label for="TraceID">PCC: 9X8G</label>
                </p-floatlabel>

                <div class="text-danger"
                    *ngIf="apiConfigForm.get('TraceID')?.invalid && (apiConfigForm.get('TraceID')?.touched || apiConfigForm.get('TraceID')?.dirty)">
                    PCC is required!</div>
            </div>

            <div>
                <p-floatlabel variant="on">
                    <input pInputText id="ClientId" formControlName="ClientId" class="w-full"
                        autocomplete="new-password" />
                    <label for="ClientId">Client ID: 50ITINS</label>
                </p-floatlabel>

                <div class="text-danger"
                    *ngIf="apiConfigForm.get('ClientId')?.invalid && (apiConfigForm.get('ClientId')?.touched || apiConfigForm.get('ClientId')?.dirty)">
                    Client ID is required!</div>
            </div>

            <!-- Submit Button -->
            <div class="md:col-span-2 flex justify-end">
                <p-button type="submit" label="Submit"
                    [icon]="formStatus === 'loading' ? 'pi pi-spin pi-spinner' : formStatus === 'success' ? 'pi pi-check' : ''"
                    [loading]="formStatus === 'loading'" [disabled]="formStatus === 'loading' || apiConfigForm.invalid"
                    class="w-full md:w-auto mt-4">
                </p-button>
            </div>
        </form>
    </p-dialog>
</div>
