<div class="flex items-center justify-center min-h-screen w-full px-4 bg-cover bg-center bg-no-repeat bg-[linear-gradient(to_top,_rgba(245,247,250,0.95),_rgba(245,247,250,0.8)),url('assets/images/bg.svg')]">
  <p-toast></p-toast>

  <div class="w-full max-w-lg bg-rm-trip-surface-card rounded-rm-trip-smooth shadow-rm-trip-glow p-8 sm:p-10">
    <div class="text-center mb-6">
      <h2 class="text-rm-trip-h2 font-bold text-gray-700 mb-2">Forgot Your Password?</h2>
      <p class="text-gray-600 text-sm font-semibold" *ngIf="!resetPasswordMessage">Enter your email to reset your password</p>
    </div>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="space-y-3">
      <div *ngIf="!resetPasswordMessage">
        <label for="email" class="block text-sm font-semibold text-gray-700 dark:text-gray-300 mb-2">Email</label>
        <input placeholder="example@mail.com" id="email" type="email" formControlName="email" autocomplete="off" class="w-full rounded-lg border border-rm-trip-accent-light px-4 py-3 text-gray-900 bg-white focus-rm-trip-highlight" />
      </div>

      <div *ngIf="resetPasswordMessage">
        <p-message icon="pi pi-check-circle" [severity]="'success'" [text]="resetPasswordMessage"></p-message>
      </div>

      <div *ngIf="!resetPasswordMessage">
        <button type="submit" [disabled]="forgotForm.invalid || formStatus === 'loading'" class="w-full bg-rm-trip-brand pointer text-white font-bold py-3 rounded-lg shadow-md transition disabled:opacity-70 disabled:cursor-not-allowed">
          <ng-container *ngIf="formStatus === 'loading'; else sendEmailText"> <i class="pi pi-spin pi-spinner mr-2"></i> </ng-container>
          <ng-template #sendEmailText>Send Email</ng-template>
        </button>
      </div>

      <div class="text-center mt-4">
        <span class="text-gray-600 text-sm font-semibold">Already have an account? </span>
        <a [routerLink]="['/users/login']" class="text-rm-trip-highlight hover:underline font-medium">Login Now</a>
      </div>
    </form>
  </div>
</div>
