.text-danger {
    color: red;
    font-size: 10px;
    animation: slideDown 0.4s ease-out;
    width: 300px;
}

/* Keyframes for animation */
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 768px) {
    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}

.p-fileupload-basic {
    display: block !important;
}
