<p-toast />
<p-confirmdialog />

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-4">
    <p-card (click)="applyTheme($event, theme.id)" *ngFor="let theme of themes"
        class="w-full shadow-md border border-gray-200 rounded overflow-hidden" [ngClass]="{
            'border-blue-500 ring-2 ring-blue-400': selectedThemeId === theme.id,
            'border-gray-200': selectedThemeId !== theme.id
        }">
        <ng-template pTemplate="header">
            <img style="width: 100%; height: auto" [src]="theme.image" [title]="theme.title" [alt]="theme.title"
                class="w-full h-60 object-cover" />
        </ng-template>

        <ng-template pTemplate="content">
            <div class="space-y-1">
                <h2 class="text-lg font-bold text-black">{{ theme.title }}</h2>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <div class="flex justify-between space-x-2 mt-4">
                <p-button (click)="applyTheme($event, theme.id)" icon="pi pi-check-square" label="Choose"
                    severity="info" variant="outlined"></p-button>

                <p-button label="Live Preview" icon="pi pi-eye" severity="primary" variant="outlined"
                    (onClick)="livePreview(theme.id)"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>
