@media print {
    body {
        -webkit-print-color-adjust: exact;
    }

    /* Hide things like buttons or sidebars */
    .no-print {
        display: none !important;
    }

    #ticket-content {
        font-family: 'Roboto', sans-serif;
        padding: 20px;
    }
}

.text-danger {
    color: red;
    font-size: 10px;
    animation: slideDown 0.4s ease-out;
    width: 300px;
    margin-top: 2px;
}

/* Keyframes for animation */
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
