<div id="print-section">
    <div class="table-responsive">
            <table cellpadding="0" cellspacing="0" style="margin-bottom: 30px;" width="100%">
                <tbody>
                    <tr>
                        <td width="80%">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td style="font-family: Times New Roman, Times, serif; font-size: 20px;font-weight: 700; color: #000;">Zakaria Tours &amp; Travels</td>
                                    </tr>
                                    <tr>
                                        <td style="font-family: Times New Roman, Times, serif; font-size: 18px; font-weight: 500; color: #000;">Address: 13, Kazi Nazrul Islam Avaenue, T. K. Bhaban, 7th Floor,  Dhaka 1215. </td>
                                    </tr>
                                    <tr>
                                        <td style="font-family: Times New Roman, Times, serif; font-size: 18px; font-weight: 500; color: #000;">TnT : 8820 47117074 / 8820 47118060</td>
                                    </tr>
                                    <tr>
                                        <td style="font-family: Times New Roman, Times, serif; font-size: 18px; font-weight: 500; color: #000;">E-Mail : paradisetravelslimited@gmail.com</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="vertical-align: middle;" width="20%"><img alt="" width="200px" src="https://b2b.buytickets.com.bd/api/Content/AgentDocument/0ab75fb5-100f-42d1-b5e2-c3d28417cca4images.png"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="font-family: Times New Roman, Times, serif; font-size: 16px; font-weight: 700; color: #000;margin-bottom: 30px;">Itinerary</div>
        <div style="font-family: Times New Roman, Times, serif; font-size: 16px; font-weight: 700; color: #000;"> Passenger Information</div>
        <div class="table-responsive">
            <table cellpadding="0" cellspacing="0" class="table-bordered" style="margin-bottom: 30px;" width="100%">
                <thead>
                    <tr>
                        <th style="background-color: #B0DFE5 !important; font-family: Times New Roman, Times, serif;font-size: 12px; 
                            text-align: left; border-color: #000 !important; border-width: 1px !important; color: #000 !important; padding: 5px;border-style: solid;"> Passenger Information </th>
                        <th style="background-color: #B0DFE5 !important; font-family: Times New Roman, Times, serif;font-size: 12px; 
                            text-align: left; border-color: #000 !important; border-width: 1px !important; color: #000 !important; padding: 5px;border-style: solid;"> Passport Number  </th>
                        <th style="background-color: #B0DFE5 !important; font-family: Times New Roman, Times, serif; font-size: 12px;
                            text-align: left; border-color: #000 !important; border-width: 1px !important; color: #000 !important; padding: 5px;border-style: solid;"> Frequent Flyer Number </th>
                        <th style="background-color: #B0DFE5 !important; font-family: Times New Roman, Times, serif; font-size: 12px;
                            text-align: left; border-color: #000 !important; border-width: 1px !important; color: #000 !important; padding: 5px;border-style: solid;"> Ticket </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 12px; text-align: left; border-color: #000 !important; color: #000 !important; border-width: 1px !important; padding: 5px;border-style: solid;"> Mr KHONDAKAR MD SHAHABUDDIN</td>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 12px;text-align: left;
                            border-color: #000 !important; color: #000 !important; border-width: 1px !important; padding: 5px;border-style: solid;"> 7792103508175</td>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 12px; text-align: left;
                            border-color: #000 !important; color: #000 !important; border-width: 1px !important; padding: 5px;border-style: solid;"> 10 Nov 24</td>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 12px; text-align: left;
                            border-color: #000 !important; color: #000 !important; border-width: 1px !important; padding: 5px;border-style: solid;"> 10 Nov 24</td>
                    </tr>
                    <tr>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 12px; text-align: left; 
                            border-color: #000 !important; color: #000 !important; border-width: 1px !important; padding: 5px;border-style: solid;"> Mr MD AMIRUL ISLAM</td>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 12px;text-align: left;
                            border-color: #000 !important; color: #000 !important; border-width: 1px !important; padding: 5px;border-style: solid;"> 7792103508176</td>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 12px; text-align: left;
                            border-color: #000 !important; color: #000 !important; border-width: 1px !important; padding: 5px;border-style: solid;"> 10 Nov 24</td>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 12px; text-align: left;
                            border-color: #000 !important; color: #000 !important; border-width: 1px !important; padding: 5px;border-style: solid;"> 10 Nov 24</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table cellpadding="0" cellspacing="0" class="table-bordered" style="margin-bottom: 30px;" width="100%">
                <thead>
                    <tr>
                        <th style="background-color: #B0DFE5 !important; font-family: Times New Roman, Times, serif; font-size: 12px; 
                            text-align: left; border-color: #000 !important; border-width: 1px !important; color: #000 !important; padding: 5px;border-style: solid;"> Airline PNR </th>
                        <th style="background-color: #B0DFE5 !important; font-family: Times New Roman, Times, serif; font-size: 12px; 
                            text-align: left; border-color: #000 !important; border-width: 1px !important; color: #000 !important; padding: 5px;border-style: solid;"> Galileo PNR  </th>
                        <th style="background-color: #B0DFE5 !important; font-family: Times New Roman, Times, serif; font-size: 12px;
                            text-align: left; border-color: #000 !important; border-width: 1px !important; color: #000 !important; padding: 5px;border-style: solid;"> Date of Issue </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 12px; text-align: left; border-color: #000 !important;
                            text-transform: uppercase; color: #000 !important; border-width: 1px !important; padding: 5px;border-style: solid;">
                            07C1OO  (BS - BS) 
                        </td>
                        
                        <td style="font-family: Times New Roman, Times, serif; font-size: 12px; text-align: left;
                            border-color: #000 !important; color: #000 !important; border-width: 1px !important; padding: 5px;border-style: solid;"> 07C1OO </td>
                        
                        <td style="font-family: Times New Roman, Times, serif; font-size: 12px; text-align: left;
                            border-color: #000 !important; color: #000 !important; border-width: 1px !important; padding: 5px;border-style: solid;"> 01715159153 </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="font-family: Times New Roman, Times, serif; font-size: 16px; font-weight: 700; color: #000;"> Itinerary Information</div>
        <div class="table-responsive">
            <table cellpadding="0" cellspacing="0" class="table-bordered" style="margin-bottom: 30px;" width="100%">
                <thead>
                    <tr>
                        <th style="background-color: #B0DFE5 !important; font-family: Times New Roman, Times, serif; font-size: 12px;
                            text-align: left; border-color: #000 !important; border-width: 1px !important; color: #000 !important; padding: 5px;border-style: solid;width: 10%;"> Flight # </th>
                        <th style="background-color: #B0DFE5 !important; font-family: Times New Roman, Times, serif; font-size: 12px;
                            text-align: left; border-color: #000 !important; border-width: 1px !important; color: #000 !important; padding: 5px;border-style: solid;width: 20%;"> From </th>
                        <th style="background-color: #B0DFE5 !important; font-family: Times New Roman, Times, serif; font-size: 12px;
                            text-align: left; border-color: #000 !important; border-width: 1px !important; color: #000 !important;padding: 5px;border-style: solid;width: 20%;"> To </th>
                        <th style="background-color: #B0DFE5 !important; font-family: Times New Roman, Times, serif; font-size: 12px;
                            text-align: left; border-color: #000 !important; border-width: 1px !important; color: #000 !important; padding: 5px;border-style: solid;width: 10%;"> Depart </th>
                        <th style="background-color: #B0DFE5 !important; font-family: Times New Roman, Times, serif; font-size: 12px;
                            text-align: left; border-color: #000 !important; border-width: 1px !important; color: #000 !important; padding: 5px;border-style: solid;width: 10%;"> Arrive </th>
                        <th style="background-color: #B0DFE5 !important; font-family: Times New Roman, Times, serif; font-size: 12px;
                            text-align: left; border-color: #000 !important; border-width: 1px !important; color: #000 !important; padding: 5px;border-style: solid;width: 10%;"> Seat </th>
                        <th style="background-color: #B0DFE5 !important; font-family: Times New Roman, Times, serif; font-size: 12px;
                            text-align: left; border-color: #000 !important; border-width: 1px !important; color: #000 !important; padding: 5px;border-style: solid;width: 20%;"> Info </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 12px; border-color: #000 !important;
                            text-transform: uppercase; color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                            <img alt="" width="80" src="https://buytickets.com.bd/api/Content/airlogo/BS.gif">
                            <div style="margin-bottom: 5px; font-weight: 700; font-size: 12px; margin-top: 10px;"> BS </div>
                            <div style="font-weight: 700; font-size: 12px;">BS 161</div>
                        </td>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 12px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;"><strong>Dhaka -</strong> Hazrat Shahjalal International Airport,Dhaka,Bangladesh , Terminal </td>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 12px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;"><strong>Dhaka -</strong> Rajshahi Airport,Rajshahi,Bangladesh , Terminal </td>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 12px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                            <div style="font-weight: 700; font-size: 12px;">Mon, 11 Nov 24</div>
                            <div style="font-weight: 700; font-size: 12px; margin-top: 10px;">08:15 </div>
                        </td>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 16px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                            <div style="font-weight: 700; font-size: 12px;">Mon, 11 Nov 24</div>
                            <div style="font-weight: 700; font-size: 12px; margin-top: 10px;">09:05 </div>
                        </td>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 16px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                           1000
                        </td>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 12px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                            <div style="font-weight: 500; font-size: 12px; color: #000 !important; margin-bottom: 5px;">Baggage : 20Kg </div>
                            <div style="font-weight: 500; font-size: 12px; color: #000 !important; margin-bottom: 5px;">Class : Y </div>
                            <div style="font-weight: 500; font-size: 12px; color: #000 !important; margin-bottom: 5px;">Duration : 50m </div>
                            <div style="font-weight: 500; font-size: 12px; color: #000 !important; margin-bottom: 5px;">Status : Confirmed </div>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table cellpadding="0" cellspacing="0" class="table-bordered" style="margin-bottom: 30px;" width="100%">
                <thead>
                    <tr>
                        <th style="background-color: #B0DFE5 !important; font-family: Times New Roman, Times, serif; font-size: 12px;
                            text-align: left; border-color: #000 !important; border-width: 1px !important; color: #000 !important; padding: 5px;border-style: solid;width: 10%;"> Flight # </th>
                        <th style="background-color: #B0DFE5 !important; font-family: Times New Roman, Times, serif; font-size: 12px;
                            text-align: left; border-color: #000 !important; border-width: 1px !important; color: #000 !important; padding: 5px;border-style: solid;width: 20%;"> From </th>
                        <th style="background-color: #B0DFE5 !important; font-family: Times New Roman, Times, serif; font-size: 12px;
                            text-align: left; border-color: #000 !important; border-width: 1px !important; color: #000 !important;padding: 5px;border-style: solid;width: 20%;"> To </th>
                        <th style="background-color: #B0DFE5 !important; font-family: Times New Roman, Times, serif; font-size: 12px;
                            text-align: left; border-color: #000 !important; border-width: 1px !important; color: #000 !important; padding: 5px;border-style: solid;width: 10%;"> Depart </th>
                        <th style="background-color: #B0DFE5 !important; font-family: Times New Roman, Times, serif; font-size: 12px;
                            text-align: left; border-color: #000 !important; border-width: 1px !important; color: #000 !important; padding: 5px;border-style: solid;width: 10%;"> Arrive </th>
                        <th style="background-color: #B0DFE5 !important; font-family: Times New Roman, Times, serif; font-size: 12px;
                            text-align: left; border-color: #000 !important; border-width: 1px !important; color: #000 !important; padding: 5px;border-style: solid;width: 10%;"> Seat </th>
                        <th style="background-color: #B0DFE5 !important; font-family: Times New Roman, Times, serif; font-size: 12px;
                            text-align: left; border-color: #000 !important; border-width: 1px !important; color: #000 !important; padding: 5px;border-style: solid;width: 20%;"> Info </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 12px; border-color: #000 !important;
                            text-transform: uppercase; color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                            <img alt="" width="80" src="https://buytickets.com.bd/api/Content/airlogo/BS.gif">
                            <div style="margin-bottom: 5px; font-weight: 700; font-size: 12px; margin-top: 10px;"> BS </div>
                            <div style="font-weight: 700; font-size: 12px;">BS 161</div>
                        </td>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 12px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;"><strong>Dhaka -</strong> Hazrat Shahjalal International Airport,Dhaka,Bangladesh , Terminal </td>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 12px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;"><strong>Dhaka -</strong> Rajshahi Airport,Rajshahi,Bangladesh , Terminal </td>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 12px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                            <div style="font-weight: 700; font-size: 12px;">Mon, 11 Nov 24</div>
                            <div style="font-weight: 700; font-size: 12px; margin-top: 10px;">08:15 </div>
                        </td>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 16px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                            <div style="font-weight: 700; font-size: 12px;">Mon, 11 Nov 24</div>
                            <div style="font-weight: 700; font-size: 12px; margin-top: 10px;">09:05 </div>
                        </td>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 16px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                           1000
                        </td>
                        <td style="font-family: Times New Roman, Times, serif; font-size: 12px; border-color: #000 !important;
                            color: #000 !important; border-width: 1px !important; padding: 5px; vertical-align: middle;border-style: solid;">
                            <div style="font-weight: 500; font-size: 12px; color: #000 !important; margin-bottom: 5px;">Baggage : 20Kg </div>
                            <div style="font-weight: 500; font-size: 12px; color: #000 !important; margin-bottom: 5px;">Class : Y </div>
                            <div style="font-weight: 500; font-size: 12px; color: #000 !important; margin-bottom: 5px;">Duration : 50m </div>
                            <div style="font-weight: 500; font-size: 12px; color: #000 !important; margin-bottom: 5px;">Status : Confirmed </div>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
</div>